/clan.png
/completas.png
/graficadeclanes.png
/haces-fibrados.pdf
/haces-fibrados.tex
/iteradas.png
/iteradasoctaedro.png
/mobius.png
/*.tikz
/octaedro3d.png
/producto.png
/*.aux
/*.log
/resumen.pdf
auto/
/ejemplocubriente.png
/cubrientecamino.png
/cubrienteesfibrado.png
/cubrientetop.png
/cubrientetop2.png
/cubrientetop3.png
/cubrientetop4.png
/hazdiagrama.png
/producto2.png
/subgraficatrivial.png
