/clan.png
/completas.png
/graficadeclanes.png
/haces-fibrados.pdf
/haces-fibrados.tex
/iteradas.png
/iteradasoctaedro.png
/mobius.png
/*.tikz
/octaedro3d.png
/producto.png
/*.aux
/*.log
/resumen.pdf
auto/
/ejemplocubriente.png
/cubrientecamino.png
